<h1>Reactive Forms</h1>
<h3>{{empform.value | json}}</h3>
<h3>{{empform.status | json}}</h3>
<form [formGroup]="empform">
    <div class="mb-3">
    <input type="text" formControlName="ename" [ngClass]="{'is-invalid':empform.controls.ename.invalid}" class="form-control" placeholder="Enter name">
    <div *ngIf="empform.controls.ename.invalid && empform.controls.ename.errors?.required">
        <span class="text-danger">It is required</span>
    </div>
    <div *ngIf="empform.controls.ename.errors?.minlength">
        <span class="text-danger">Length 5</span>
    </div>
</div>
<div class="mb-3">
    <input type="email" formControlName="email" [ngClass]="{'is-invalid':empform.controls.email.invalid}" class="form-control" placeholder="Enter email">
    <div *ngIf="email.invalid && empform.controls.ename.errors?.required">
        <span class="text-danger">It is required</span>
    </div>
</div>
<div class="mb-3">
    <input type="text" formControlName="password" [ngClass]="{'is-invalid':password.invalid}" class="form-control" placeholder="Enter password">
    <div *ngIf="password.invalid && password.errors?.needsExclamation">
        <span class="text-danger">It is required</span>
    </div>
</div>
<div [formGroup]="address">
<div class="mb-3">
    <input type="text" formControlName="city" [ngClass]="{'is-invalid':city.invalid}" class="form-control" placeholder="Enter city">
    <div *ngIf="city.invalid && city.errors?.required">
        <span class="text-danger">It is required</span>
    </div>
</div>
</div>

</form>
<input type="text" class="form-control" [formControl]="subsemail" placeholder="Enter email to subscribe">
<button (click)="subscribe()">Subscribe</button>
