<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div class="container">
    <app-empform></app-empform>
    <app-main></app-main>
</div> -->
<app-footer></app-footer>












<!-- <app-observable></app-observable> -->
<!-- <app-login></app-login>
<app-empform></app-empform> -->
<!-- <h1>App Component</h1>
<p>{{service.message}}</p>
<app-serv></app-serv>
<div>
    <button (click)="getTodos()">Get All todos</button>
    <button (click)="getTodoById(1)">Get Todo</button>
    <button (click)="postTodo()">Post todos</button>
    <button (click)="deleteTodo()">Delete todos</button>
    <button (click)="updateTodo()">Update todos</button>
  </div> -->
<!-- <app-empreactiveform></app-empreactiveform> -->
<!-- <app-empform (empadded)="newEmpAdded($event)"></app-empform>
<app-main [newdata]="employee"></app-main> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-parent></app-parent> -->
<!-- <app-main></app-main> -->
<!-- <app-parent></app-parent>
<div>
<h1 class="head text-center">Concerto{{title}}</h1>
<p>{{bod}}</p>
<p>{{display()}}</p>
<p innerText={{message}}></p>
<p [innerText]=message></p> -->
<!-- event binding () -->
<!-- <p>{{isInValid}}</p>
<app-header></app-header> 
<p><button [disabled]=!isInValid [style.color]="'red'" (click)="clicked()" >Check Validity</button></p>
<p><button [disabled]=!isInValid [style.color]="red" (click)="clicked()" >Check Validity</button></p> -->
<!-- style binding -->

<!-- <p><button [disabled]=!isInValid [style.color]="isInValid ? 'red' : 'green'" (click)="clicked()" >Check Validity</button></p> -->
<!-- 2-way data binding [()] banana in a box -->
<!-- <input type="text" [(ngModel)]='message'/> -->
<!-- <br>
<input type="checkbox" [(ngModel)]="isInValid">Check

<app-footer></app-footer>
</div> -->

<!-- <app-directives></app-directives> -->